<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

    <script>
    var socket;
    var playername , nameindex , playerid , character , character_cht;
    var CARD = '';
    var character_msg = {'type':null,'msg':null,'bad_guy_list':[],'merlin_list':[]};
    
    $(document).ready(function(){
        namespace = '/player'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        
        SetVariable();  //設定變數: playername , nameindex
                        //          playerid , character , character_cht , character_msg
        socket.emit('join', {room: nameindex});     //join room : player_room_nameindex，注意:這邊無法傳遞中文。
        
        /*html的顯示設定*/
        $('#playername').html('ID:' + playername);  //設定玩家名稱
        $('#confirm').hide();
        $('#character').hide();
        {% if wait_for_bind %}  //玩家還未綁定卡片
            $('#wait_for_bind').html('等待卡片綁定中，請按照主機指示輪流感應卡片。');
        {% else %}
            $('#wait_for_bind').hide();
        {% endif %}
        {% if guess %}          //刺客現身
            $('#Guess').show();
            $('#Guessbtn').show();
            {% for player in plist %}
                $('#Guess').append("<input type='radio' name='Merlin' value={{player}}>{{player}}<br>");
            {% endfor %}
        {% else %}
            $('#Guess').hide();
            $('#Guessbtn').hide();
        {% endif %}
        
        
        /*socket*/
        socket.on('Binding_show_character', function(msg) { //註冊卡片時，玩家裝置立即顯示各訊息，並加入角色房間(room)
            var cha = document.getElementById("img_character");
            socket.emit('join_character', {room: nameindex});
            character_cht = msg.name;   //身分(中文)
            $('#character').html('身分:' + character_cht + "<br><b style=\"font-size: 14px;\">Hint:點擊ID可顯示身分訊息</b>");
            $('#wait_for_bind').hide();
            cha.alt = msg.character;
            character = msg.character
            cha.setAttribute("src", "/imgs/back_character.png");
            cha.setAttribute("width", "210");
            cha.setAttribute("height", "324");
            //console.log("綁定卡片ID:" + msg.id);
            //console.log("腳色照片路徑:" + "/imgs/" + msg.character + ".png");
        });
        
        socket.on('AlertMsg', function(msg) { //播放語音時，玩家裝置隨語音順序與身分，輪流顯示腳色可以獲得的訊息。
            character_msg['type'] = msg.type
            character_msg['msg'] = msg.msg
            character_msg['bad_guy_list'] = msg.bad_guy_list
            character_msg['merlin_list'] = msg.merlin_list
            ShowMsg();
        });
        
        socket.on('StartMission', function(msg) {location.reload();});  //此玩家開始出任務
        socket.on('Guess', function(msg) {location.reload();});         //刺客現身
        socket.on('ReStart', function(msg) {location.reload();});       //重整
        
    });
    
    /*變數設定*/
    function SetVariable(){
        playername = '{{ pname }}';     //玩家名稱(中文or英文or數字)
        nameindex = '{{ nameindex }}';  //玩家在webserver.py中變數:player_list內的index
        {% if id and character and name %}  //有id:已經綁定卡片，無id有character和name:伺服端按開始遊戲，但還未綁定卡片
            socket.emit('join_character', {room: nameindex});   //加入腳色房間
            playerid = '{{ id }}';          //玩家卡片ID
            character = '{{ character }}';  //玩家角色名稱(英文，用來尋找image)
            character_cht = "{{ name }}";   //玩家角色名稱(中文，顯示)
        {% endif %}
        
        {% if character_msg %}  //已綁定身分提示訊息
            {% for key, value in character_msg.items() %}
                {% if key == 'bad_guy_list' or key == 'merlin_list' %}
                    console.log('{{key}}:{{value}}')
                    {% for guy in value %}
                        character_msg['{{key}}'].push('{{guy}}')
                        console.log('push:{{guy}}')
                    {% endfor %}
                    console.log('character_msg[{{key}}]:')
                    console.log(character_msg['{{key}}'])
                {% else %}
                    character_msg['{{key}}'] = '{{value}}'
                {% endif %}
            {% endfor %}
        {% endif %}
        
    }
    
    /*待機時的玩家主頁函式*/
    function AlertMsg(type , message , bad_guy_list , merlin_list){
        if(type=='bad_guy'){
            var guys = '';
            for (var i = 0; i < bad_guy_list.length; i++){
                if(bad_guy_list[i]!=playername){
                    guys = guys + bad_guy_list[i] + '  ';
                }
            }
            guys = guys + '\n';
            alert(guys+message);
        }
        else if(type=='merlin'){
            var guys = '';
            for (var i = 0; i < bad_guy_list.length; i++) {
                guys = guys + bad_guy_list[i] + '  ';
            }
            guys = guys + '\n';
            alert(guys+message);
        }
        else if(type=='loyalty'){
            alert(message);
        }
        else if(type=='percival'){
            var guys = '';
            for (var i = 0; i < merlin_list.length; i++) {
                guys = guys + merlin_list[i] + '  ';
            }
            guys = guys + '\n';
            alert(guys+message);
        }
    }
    
    function ShowMsg(){
        AlertMsg( character_msg['type'] , character_msg['msg'] , character_msg['bad_guy_list'] , character_msg['merlin_list']);
    }
    
    function ShowCard(){
        turnCompatible('#img_character', "/imgs/"+character+".png" , 210);
        $('#character').show();
    }
    
    function HideCard(){
        turnCompatible('#img_character', "/imgs/back_character.png" , 210);
        $('#character').hide();
    }
    
    /*出任務的函式*/
    function Real(){
        if(CARD=='fake'){
            turnCompatible('#real', "/imgs/holygrail.png" , 175);
            turnCompatible('#fake', "/imgs/back_holygrail.png" , 175);
            CARD = 'real';
            $('#confirm').show();
        }else if(CARD=='real'){
            turnCompatible('#real', "/imgs/back_holygrail.png" , 175);
            CARD = '';
            $('#confirm').hide();
        }else{
            turnCompatible('#real', "/imgs/holygrail.png" , 175);
            CARD = 'real';
            $('#confirm').show();
        }
    }
    function Fake(){
        if(CARD=='real'){
            turnCompatible('#real', "/imgs/back_holygrail.png" , 175);
            turnCompatible('#fake', "/imgs/fake.png" , 175);
            CARD = 'fake';
            $('#confirm').show();
        }else if(CARD=='fake'){
            turnCompatible('#fake', "/imgs/back_holygrail.png" , 175);
            CARD = '';
            $('#confirm').hide();
        }else{
            turnCompatible('#fake', "/imgs/fake.png" , 175);
            CARD = 'fake';
            $('#confirm').show();
        }
    }
    function confirm(){
        if(CARD=='real'){
            socket.emit('ClientPushMission', {'name':playername,'result':true});
            location.reload();
        }else if(CARD=='fake'){
            socket.emit('ClientPushMission', {'name':playername,'result':false});
            location.reload();
        }
    }
    
    /*刺客猜梅林*/
    function Guess(){
        var form_name = document.getElementById('Guess');
        if (form_name.Merlin.value){
            socket.emit('Guess', {'Merlin': form_name.Merlin.value});
            $('#Guess').hide();
            $('#Guessbtn').hide();
        }
    }
    
    </script>
    
    <!--卡片翻轉特效-->
    <script>
    function turnCompatible(elem, src , CARDWIDTH) {
        $(elem).animate({
            width: 0, //animate to zero
            marginLeft: CARDWIDTH / 2,
            marginRight: CARDWIDTH / 2
        }, function () {
            this.src = src
            $(this).animate({
                width: CARDWIDTH,
                marginLeft: 0,
                marginRight: 0,
            })
        })
    }
    </script>
    
    <!--手機版網頁 將按住螢幕的事件利用mousedown,mouseup處理-->
    <script>
    var mouseEventTypes = {
        touchstart : "mousedown",
        touchmove : "mousemove",
        touchend : "mouseup"
    };
    for (originalType in mouseEventTypes) {
        document.addEventListener(originalType, function(originalEvent) {
        event = document.createEvent("MouseEvents");
        touch = originalEvent.changedTouches[0];
        event.initMouseEvent(mouseEventTypes[originalEvent.type], true, true,
        window, 0, touch.screenX, touch.screenY, touch.clientX,
        touch.clientY, touch.ctrlKey, touch.altKey, touch.shiftKey,
        touch.metaKey, 0, null);
        originalEvent.target.dispatchEvent(event);
        });
    }
    
    </script>
    
    <!--css-->
    <style>
        
        body{
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
            font-family: 華康儷金黑;
            font-weight:bold;
        }
        
        h1 {
            word-break: break-all;
            color:rgba(240,40,50,0.8);
            font-family: 華康儷金黑;
            font-size: 100%; 
        }
        
        #playername{
            color:rgba(22,87,146,1);
            font-size: 28px;
        }
        
        #character{
            color:rgba(22,87,146,1);
            font-size: 24px;
        }
        #Guess{
            color:rgba(22,87,146,1);
            font-size: 16px;
        }
        #wait_for_bind{
            font-size: 24px;
        }
        
        #img_character{
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }
        .card {
            width:175px;
            height:279px;
            -webkit-transition:-webkit-transform 0.5s;
            transition:transform 0.5s;
        }
        .flipping {
            transform: translate(0, 20px) rotateY(90deg);
            -webkit-transform: translate(0, 20px) rotateY(90deg);
        }
        
    </style>


    <body>
    
    <p id="playername" align="center" onclick="ShowMsg()"></p>  <!-- 玩家自定義名稱 -->
    <p id="wait_for_bind" align="center"></p>                   <!-- 若未綁定卡片則顯示提示訊息 -->
    <div align="center">                <!-- 刺客的刺殺名單 -->
        <form id="Guess" align="center">
            請選擇梅林玩家<br>
        </form>
        <button id="Guessbtn" onclick="Guess()">確認</button>
    </div>
    {% if missioning %}                 <!-- 正在出任務(顯示聖杯) -->
        <div align="center">
        <div style="margin-top:20px;width:360px;">
            <div style="float:left;margin-right:5px">
                <img id="real" class="card" align="middle" src="/imgs/back_holygrail.png" onclick="Real()">
            </div>
            <div style="margin-right:5px">
                <img id="fake" class="card" align="middle" src="/imgs/back_holygrail.png" onclick="Fake()">
            </div>
            <div style="clear:left;margin-top:20px">
                <Button id="confirm" style="font-size:30px;" onclick="confirm()">確認</button>
            </div>
        </div>
        </div>
    {% else %}                          <!-- 待機狀態 -->
        {% if name and character %} <!-- 已決定腳色並綁定卡片 -->
            <div align="center">
                <div align="center" style="display:inline-block;" onmousedown="ShowCard()" onmouseup="HideCard()">
                    <img id="img_character" src="/imgs/back_character.png" width="210" height="324" alt="{{ character }}">
                </div>
            </div>
            <p id="character" align="center">
                身分 : {{ name }} <br>
                <b style="font-size: 14px;">Hint:點擊ID可顯示身分訊息</b>
            </p>
        {% else %}                  <!-- 等待綁定卡片 -->
            <div align="center">
                <div align="center" style="display:inline-block;" onmousedown="ShowCard()" onmouseup="HideCard()">
                    <img id="img_character">
                </div>
            </div>
            <p id="character" align="center"></p>
        {% endif %}
    {% endif %}
    
    </body>
</html>
