<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="javascript/tts.js"></script>
    <script>
    var result = '{{ result }}';
    var showlist = [];
    $(document).ready(function(){
        namespace = '/admin'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        socket.on('Reload', function(msg) {
            location.reload();
        });
        
        {% if showlist %}
            {% for msg in showlist %}
                showlist.push("{{ msg }}");
                $('#players').append($('<div/>').text("{{ msg }}").html() + '<br>');
            {% endfor %}
        {% endif %}
        {% if not guess%}
            {% if result%}
                SoundPlay("win")
            {% else %}
                SoundPlay("lose")
            {% endif %}
        {% else %}
            SoundPlay("assassincoming")
        {% endif %}
        
    });
    function Restart(){
        window.location.replace("../auto/restart");
    }
    function Reset(){
        window.location.replace("../auto/reset");
    }
    </script>
    <style>
        body{
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
        }
        
        #server{
            font-family: 華康儷金黑;
            font-weight:bold;
        }
        #assassin{
            font-size: 800%; 
            color:rgba(255,255,0,1);
            
        }
        #over{
            font-size: 400%; 
            color:rgba(255,255,0,1);
        }
        #restart{
        
        }
    </style>
    <body>
        <div align="center" id="server">
        {% if guess %}
            <p id="assassin">刺客來臨</p>
        {% else %}
            {% if result %}
                <p id="over"><a style="color:rgba(0,0,255,1);">好人</a>勝利</p>
            {% else %}
                <p id="over"><a style="color:rgba(255,0,0,1);">壞人</a>勝利</p>
            {% endif %}
            <div id="players" style="font-size:35px;color:rgba(22,87,146,1);"></div>
            </br>
            <button id="restart" onclick="Restart()">重新開始</button>
            <button id="restart" onclick="Reset()">重置遊戲</button>
        {% endif %}
            
        </div>
    </body>
</html>
