<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

    <script>
    
    $(document).ready(function(){
        $('#login').hide();
        $('#btn_login').hide();
        {% if is_full %}
            console.log("人數已滿")
            $('#register').hide();
            {% if login_error %}
                $('#hint').html('登入錯誤:查無此玩家。');
            {% else %}
                $('#hint').html('抱歉，人數已滿，請等待下一回合。');
            {% endif %}
            $('#btn_login').show();
            
        {% else %}
            $('#register').show();
        {% endif %}
    });
    function toLogin() {
        $('#hint').hide();
        $('#btn_login').hide();
        $('#login').show();
    }
    </script>
    
    <style>
        
        body{
            overflow-y:hidden;       			
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
            color:rgba(22,87,146,1);
            font-family: 華康儷金黑;
            font-size: 28px;
            font-weight:bold;
        }
        
        h1 {
            word-break: break-all;
            color:rgba(240,40,50,0.8);
            font-family: 華康儷金黑;
            font-size: 60px;
        }
        
    </style>
    <body>
        <h1 align="center">阿瓦隆</h1>
        
        <p id="hint" align="center"></p>
        
        <div id="register" align="center">
            <form method="POST">
                暱稱:
                <input type="text" name="playername" style="font-size:16px">
                <input type="submit" style="font-size:16px" value="確定">
            </form>
        </div>
        
        <p align="center" id="btn_login">
            <Button onclick="toLogin()" name="tologin">暱稱登入</button>
        </p>
        
        <div id="login" align="center">
            <p style="font-size: 20px;">透過暱稱登入</p>
            <form method="POST">
                暱稱:
                <input type="text" name="playername">
                <input type="submit" value="確定">
            </form>
        </div>

    </body>
</html>
