<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="javascript/tts.js"></script>
    <script>
    var socket;
    var ROUND = '{{ ROUND }}';
    var MissionMen = {};
    GetInfo();    // set players_list , players_dict
    
    $(document).ready(function(){
        namespace = '/admin'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        socket.on('Reload', function(msg) {
            location.reload();
        });
        socket.on('RoundOver', function(msg) {
            $('#assign_men').hide();
            if(msg.result){     // 此次任務成功
                $('#result').html("任務成功");
                SoundPlay('mission_success');
                /*
                var d = 5000;
                setTimeout(function() {
                    location.reload();
                }, d);*/
            }else{              // 此次任務失敗
                $('#result').html("任務失敗");
                SoundPlay('mission_fail');
                /*
                var d = 5000;
                setTimeout(function() {
                    location.reload();
                }, d);*/
            }
            $('#ROUND').html("成功:"+(msg.real).toString() +"<br>"+ "失敗:"+(msg.fake).toString());
            $('#hint').show()
        });
        $('#ROUND').html("回合數 : "+(parseInt(ROUND)+1).toString());
        Refresh();
        $('#hint').hide();
    });
    function GetInfo(){
        console.log("missioning.html")
        console.log("ROUND : "+ROUND.toString())
        {% if mlist %}
            {% for player in mlist %}
                {% for key, value in Doing_Mission.items() %}
                    {% if player==key %}
                        {% if value==None %}
                            MissionMen["{{ player }}"] = false      // false:未完成任務
                        {% else %}
                            MissionMen["{{ player }}"] = true       // true:完成任務
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    }
    function Refresh(){
        $('#assign_men').html('')
        {% for player in mlist %}
            if(MissionMen["{{ player }}"])  //完成任務
                $('#assign_men').append($('<div/>').text("{{ player }} : ").html() + "<a style=\"color:rgba(255,20,20,1);\">完成</a>" +'<br>');
            else    //未完成任務
                $('#assign_men').append($('<div/>').text("{{ player }} : ").html() + "<a style=\"color:rgba(80,10,230,1);\">未選擇</a>" +'<br>');
        {% endfor %}
    }
    </script>
    <style>
        body{
            overflow-y:hidden;       			
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
        }
        #server{
            font-family: 華康儷金黑;
            font-weight:bold;
        }
        
        #assign_men{
            font-size: 300%;
            color:rgba(40,100,30,1);
        }
        
        #result{
            font-size: 400%;
            color:rgba(22,87,146,1);
        }
        
        #ROUND{
            font-size: 280%;
            color:rgba(22,87,146,1);
        }
        
        #hint{
            font-size: 150%;
            color:rgba(40,100,30,1);
        }
    </style>
    <body>
        <div align="center" id="server">
            <p id="result"></p>
            <p id="ROUND">回合數 : </p>
            <div id="assign_men"></div>
            <p id="hint">確認(EQ)</p>
        </div>
        
    </body>
</html>
