<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="javascript/tts.js"></script>
    <script>
    var socket;
    var players_list = [];
    var players_dict = {};
    var gtts_dict = [];
    var players_count = '{{ count }}';
    
    var ROUND = '{{ ROUND }}';
    var VOTE_COUNT = '{{ VOTE_COUNT }}';
    var Leader = '{{ Leader }}';
    var MissionMen = [];    //Leader決定出任務的玩家 : [name , name2 , name3]
    var OpposeMen = [];     //反對此次任務的玩家 : [name , name2 , name3]
    var PlayerNumOfMission = '{{ numofmission }}';
    GetInfo();    // set players_list , players_dict
    
    $(document).ready(function(){
        namespace = '/admin'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        socket.on('Reload', function(msg) {
            location.reload();
        });
        socket.on('AddMissionMen', function(msg) {  //成功指派一名玩家
            console.log("成功指派玩家 : "+msg.name);
            $('#assign_men').show()
            $('#assign_men').append($('<div/>').text(msg.name).html() + '<br>');
        });
        socket.on('LeaderCheck', function(msg) {    //已指派完玩家，顯示訊息:等待隊長確認(感應卡片or按重置按鈕)
            $('#hint').html("請隊長確認。重置(CLOCK)。確認(EQ)。");
            SoundPlay('leader_check');
        });
        socket.on('StartOppose', function(msg) {    //顯示訊息:可開始投反對票(感應卡片)
            $('#hint').html("請反對的玩家感應卡片。重置(CLOCK)。確認(EQ)。");
            $('#assign_men').hide()
            $('#oppose_men').hide()
            SoundPlay('start_oppose');
            //此處撥放語音
        });
        socket.on('AddOpposeMen', function(msg) {   //有玩家投反對票
            //console.log(msg.name+"反對此次任務。");
            $('#oppose_men').show()
            $('#oppose_men').append($('<div/>').text(msg.name).html() + '<br>');
        });
        socket.on('StartMission', function(msg) {   //成功指派任務
            if(msg.state){
                //console.log("成功指派任務");
                $('#hint').html("反對人數未達標準，開始出任務。");
                $('#hint').show()
                SoundPlay("oppose_fail")
                var d = 5000;
                setTimeout(function() {
                    location.reload();
                    //應導向另外一個頁面(可以介紹如何點擊成功失敗卡。)
                }, d);
            }else{
                //console.log("指派任務失敗");
                $('#hint').html("反對人數過半，隊長換人。");
                $('#hint').show()
                SoundPlay("oppose_success")
                var d = 4000;
                setTimeout(function() {
                    location.reload();
                }, d);
            }
            
        });
        SetInfo();
        if(MissionMen.length==0){
            GttsPlay(gtts_dict[Leader.toString()]);
            $('#hint').html("請出任務的玩家感應卡片。");
            $('#hint').show()
        }else if(OpposeMen.length==0){
            for (i = 0; i < MissionMen.length; i++) { 
                $('#assign_men').append($('<div/>').text(MissionMen[i]).html() + '<br>');
            }
            {% if opposing %}
                $('#hint').html("請反對的玩家感應卡片。重置(CLOCK)。確認(EQ)。");
                $('#assign_men').hide()
                SoundPlay('start_oppose');
            {% endif %}
        }else{
            for (i = 0; i < OpposeMen.length; i++) { 
                $('#oppose_men').append($('<div/>').text(OpposeMen[i]).html() + '<br>');
            }
        }
        
        
    });
    function GetInfo(){
        {% if plist and pdict %}    // import players_list and players_dict
            {% for player in plist %}
                players_list.push("{{ player }}");
            {% endfor %}
            if(players_list.length != players_count){
                window.location.replace("../admin");
            }
            {% for key, value in pdict.items() %}
                players_dict["{{key}}"] = "{{value}}"
            {% endfor %}
            if(players_list.length != Object.keys(players_dict).length){
                window.location.replace("../admin");
            }
        {% else %}
            window.location.replace("../admin");
        {% endif %}
        
        {% if mlist %}
            {% for player in mlist %}
                MissionMen.push("{{ player }}");
            {% endfor %}
        {% endif %}
        {% if olist %}
            {% for player in olist %}
                OpposeMen.push("{{ player }}");
            {% endfor %}
        {% endif %}
        
        {% if tts_pls_assign_men %}
            {% for key, value in tts_pls_assign_men.items() %}
                gtts_dict["{{key}}"] = "{{value}}"
            {% endfor %}
        {% endif %}
        //console.log("ROUND : "+ROUND.toString())
        //console.log("VOTE_COUNT : "+VOTE_COUNT.toString())
        //console.log("Leader : "+Leader.toString())
        //console.log("請"+Leader.toString()+"決定出任務的玩家")
    }
    function SetInfo(){
        $('#ROUND').html("回合 : "+(parseInt(ROUND)+1).toString());
        $('#VOTE_COUNT').html("已投票次數 : "+VOTE_COUNT.toString());
        $('#Leader').html("隊長 : "+Leader.toString());
        $('#NumOfMisson').html("需指派人數 : "+PlayerNumOfMission.toString());
        if(ROUND==3 && players_count>=7){   //7人以上玩家，第四回合需要兩張失敗卡
            $('#need_two_fail').show()
        }else{
            $('#need_two_fail').hide()
        }
        $('#assign_men').hide()
        $('#oppose_men').hide()
        
        {% if mission %}    // 每回合成功與否的圖示
            {% for result in mission %}
                {% if result==1 %}
                    $('#Icon').append("<img src=\"/imgs/success.png\" width=\"50\" height=\"50\">").html();
                {% else %}
                    $('#Icon').append("<img src=\"/imgs/fail.png\" width=\"50\" height=\"50\">").html();
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    function mReset(){
        socket.emit('ResetMission', {});
    }
    function oReset(){
        socket.emit('ResetOppose', {});
    }
    function OpposeFin(){
        socket.emit('OpposeFinish', {});
    }
    //======================================================================
    //語音函式
    var soundEmbed = null;
    //======================================================================
    function GttsPlay(filename){
        if (!soundEmbed){
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "/gtts/"+filename+".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        else{
            document.body.removeChild(soundEmbed);
            soundEmbed.removed = true;
            soundEmbed = null;
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "/gtts/"+filename+".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        soundEmbed.removed = false;
        document.body.appendChild(soundEmbed);
    }
    </script>
    <style>
        body{
            overflow-y:hidden;       			
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
            font-weight:bold;
        }
        
        #server{
            font-size: 220%;
            color:rgba(22,87,146,1);
            float:left;
            width:30%;
        }
        
        #need_two_fail{
            font-size: 50%;
            color:rgba(255,0,0,1);
        }
        
        #hint{
            font-size: 60%;
            color:rgba(255,0,0,1);
        }
        
        #assign_men{
            font-size: 250%;
            color:rgba(140,150,50,1);
        }
        #oppose_men{
            font-size: 250%;
            color:rgba(140,150,50,1);
        }
    </style>
    <body>
        <div style="width:100%">
            <div style="width:25%;float:left">
            <p></p>
            </div>
            <div align="left" id="server">
                <div id="Icon" style="margin-top:10px;margin-bottom:-10px">
                <!--<img src="/imgs/success.png" width="50" height="50">-->
                <!--<img src="/imgs/fail.png" width="50" height="50">-->
                </div>
                <p id="ROUND">回合 : </p>
                <p id="VOTE_COUNT">已投票次數 : </p>
                <p id="Leader">隊長 : </p>
                <p id="NumOfMisson">需指派人數 : </p>
                <p id="need_two_fail">注意 : 此回需要兩張失敗</p>
                <p id="hint"></p>
                
            </div>
            
            <div align="left" style="width:45%;float:left">
                
                <div id="assign_men">
                    <p>已指派玩家:</p>
                </div>
                <div id="oppose_men">
                    <p>反對玩家:</p>
                </div>
                <button id="btn_mreset" onclick="mReset()" hidden>重置任務玩家</button>
                <button id="btn_oreset" onclick="oReset()" hidden>重置反對玩家</button>
                <button id="btn_opposefin" onclick="OpposeFin()" hidden>反對結束</button>
            </div>
        </div>
        
    </body>
</html>
