<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="javascript/tts.js"></script>
    <script>
    var players_list = [];
    var players_dict = {};
    var players_count = '{{ count }}';
    var socket;
    GetPlayerInfo();    // set players_list , players_dict
    
    $(document).ready(function(){
        namespace = '/admin'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);  //socket用在tts.js內
        StartGTTS();   // 播放開場語音
    });
    function StartGTTS(){  //播放語音及推播訊息(裝置端)。
        $('#info').html('玩家全數登入完畢，請確認手機訊息。');
        $('#info').show();
        var d = 6500;   // duration of SoundPlay
        SoundPlay('login_finish');
        setTimeout(function() {
            $('#info').hide();
            if(players_count < 7){  // 含socket.emit('ServerVariable', {variable:'Is_Started'});
                ConfirmAll_ed0();   //播放完畢後，將Refresh此頁面
            }else{
                ConfirmAll_ed1();   //播放完畢後，將Refresh此頁面
            }
        }, d);
    }
    function GetPlayerInfo(){
        {% if plist and pdict %}    // import players_list and players_dict
            {% for player in plist %}
                players_list.push("{{ player }}");
            {% endfor %}
            if(players_list.length != players_count){
                window.location.replace("../admin");
            }
            {% for key, value in pdict.items() %}
                players_dict["{{key}}"] = "{{value}}"
            {% endfor %}
            if(players_list.length != Object.keys(players_dict).length){
                window.location.replace("../admin");
            }
        {% else %}
            window.location.replace("../admin");
        {% endif %}
    
    }
    </script>
    
    <style>
        body{
            overflow-y:hidden;       			
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
            font-size: 250%;
            color:rgba(22,87,146,1);
            font-weight:bold;
        }
        
    </style>
    <body>
    
        <div id="hint" align="center">
            <p id="info">玩家全數登入完畢，請確認手機訊息。</p>
            <p id="gtts"></p>
        </div>
        
    </body>
</html>
