<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width" />
    <title>Board Game</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

    <script>
    var players_list = [];
    var players_dict = {};
    var gtts_list = [];
    var pidcount = 0;
    var is_binded = false;
    var socket;
    
    $(document).ready(function(){
        namespace = '/admin'
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        var players_count = '{{ count }}';
        var count = 0;
        
        $('#btn_start').hide();
        $('#login_hint').hide();
        $('#UsedID').hide();
        $('#board').html('玩家名單('+players_count.toString()+')');
        {% if plist %}
            {% for player in plist %}
                var p = "{{ player }}"
                console.log("Player_in function")
                players_list.push(p);
                $('#player').append($('<div/>').text((count+1).toString()+'.'+p).html()+'<br>');
                count = count + 1
            {% endfor %}
            if(count == players_count){
                $('#btn_start').show()
                socket.emit('ServerVariable', {variable:'IR_permission',value:true});
            }
        {% endif %}
        
        {% if pdict %}
            {% for key, value in pdict.items() %}
                console.log("BindPlayer {{key}} id : " + "{{value}}")
                players_dict["{{key}}"] = "{{value}}"
                pidcount = pidcount + 1
            {% endfor %}
            $('#players_list').hide();
            $('#btn_start').hide();
            $('#login_hint').fadeIn(1);
            Check_isbinded()
        {% endif %}
        
        {% if tts_put_card_list %}
            {% for player in tts_put_card_list %}
                var p = "{{ player }}"
                gtts_list.push(p);
            {% endfor %}
        {% endif %}
        
        {% if cstate %}
            $('#players_list').hide();
            $('#btn_start').hide();
            $('#login_hint').fadeIn(1000);
            console.log(gtts_list[pidcount])
            SoundPlay(gtts_list[pidcount]);
            $('h3').html('請' + players_list[pidcount] + '感應自己的卡片...');
        {% endif %}
        
        
        
        socket.on('Player_in', function(msg) {
            //console.log("Player_in function")
            players_list.push(msg.name);
            $('#player').append($('<div/>').text((count+1).toString()+'.'+msg.name).html() + '<br>');
            count = count + 1
            if(count == players_count){
                $('#btn_start').show()
                socket.emit('ServerVariable', {variable:'IR_permission',value:true});
            }
        });
        
        socket.on('BindPlayerID', function(msg) {
            $('#players_list').hide();
            $('#btn_start').hide();
            $('#login_hint').fadeIn(1);
            $('#UsedID').hide();
            if(!is_binded){
                console.log("BindPlayerID function id : " + msg.id.toString())
                players_dict[players_list[pidcount]] = msg.id
                pidcount = pidcount + 1
                Check_isbinded()
            }
        });
        
        socket.on('GoBind', function(msg) {
            gtts_list = msg.tts_list
            $('#players_list').hide();
            $('#btn_start').hide();
            $('#login_hint').fadeIn(1000);
            SoundPlay(gtts_list[pidcount]);
            $('h3').html('請' + players_list[pidcount] + '感應自己的卡片...');
            
            
        });
        
        socket.on('UsedID', function(msg) {
            $('#UsedID').html('此卡片已經被' + msg.name.toString() + '使用!');
            $('#UsedID').show();
        });
        
    });
    function Check_isbinded(){
        if(players_list.length == Object.keys(players_dict).length){
            //全數玩家登入完畢
            console.log("BindPlayerID finish")
            $('h3').hide();
            is_binded = true
            //socket.emit('ChangeCARDSTATE', {state: 'BindingOver'});    //通知webserver.py，令其停止卡片輸入。(已改由伺服端自行關閉卡片輸入->較即時)
            setTimeout(function() {
                window.location.replace("../server");   //等待0.5秒後，導入播放語音的頁面
            }, 500);
        }else{
            $('h3').show();
            SoundPlay(gtts_list[pidcount]);
            $('h3').html('請' + players_list[pidcount] + '感應自己的卡片...');
        }
    }
    function GoBind() {
        socket.emit('ChangeCARDSTATE', {state: 'Binding'});    //通知webserver.py，令其允許卡片資訊輸入。
        $('#btn_start').hide();
    }
    //======================================================================
    //語音函式
    var soundEmbed = null;
    //======================================================================
    function SoundPlay(filename){
        console.log("SoundPlay fuction"+filename)
        if (!soundEmbed){
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "/gtts/"+filename+".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        else{
            document.body.removeChild(soundEmbed);
            soundEmbed.removed = true;
            soundEmbed = null;
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "/gtts/"+filename+".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        soundEmbed.removed = false;
        document.body.appendChild(soundEmbed);
    }
    </script>
    
    <style>
        body{
            overflow-y:hidden;       			
            background-color:rgba(195,195,195,1);
            background-attachment: fixed;
            font-family: 華康儷金黑;
            font-weight:bold;
        }
        h3{
            color:rgba(22,87,146,1);
            font-size: 250%;
        }
        #title{
            color:rgba(20,0,140,0.7);
            font-size: 300%;
        }
        #players_list{
            color:rgba(40,100,30,1);
            font-size: 200%;
            width:26%;
            float:left;
        }
        #login_hint{
            font-size: 150%;
        }
    </style>
    <body>
        <div id="login_hint" align="center">
            <h3></h3>
            <p id="UsedID"></p>
        </div>
        <div style="width:100%">
            <div style="width:37%;float:left;">
            <p></p>
            </div>
            <div id="players_list" align="center">
                <p id="board" style="font-size:110%;color:rgba(20,0,140,0.7);">玩家名單</p>
                <div id="player" align="left" style="line-height:100%"></div>
                </br>
                
            </div>
            <div style="width:37%;float:left;margin-top:30%;font-size:150%;color:rgba(255,0,0,1);" id="btn_start">
                <img onclick="GoBind()" name="start" src="/imgs/boot.png" width="35" height="35" alt="boot">
                開始
            </div>
        </div>
        
    </body>
</html>
